<h2>Reading List</h2>
<p>A list of all the books that you have added to your reading list will appear on this page.</p>
<% books.forEach(book => { %>
    <div class="well">
        <em><%= book.title %></em>
        <form action="/books/text" method="GET">
            <indivut name="id" value="<%= book.id %>" type="hidden">
            <input type="submit" value="Read Book">
        </form>
        <form action="/books/<%= book.id %>?_method=DELETE" method="POST">
            <input name="bookId" value="<%= book.id %>" type="hidden">
            <input name="userId" value="<%= currentUser.id %>" type="hidden">
            <input type="submit" value="Remove from Reading List">
        </form>
    </div>
<% }) %> 