<h2>Your Rated Books</h2>
<p>This page will display a list of all the books that you have rated. You can update their ratings at any time. Rate more books to add them to this page!</p>
<ul>
    <% books.forEach(book => { %>
        <div class="well">
            <li>
                <p>
                    You rated <em><%= book.materials.title %></em> with <%= book.rating %> stars!
                    <form action="/books/<%= book.id %>?_method=PUT" method="POST">
                        <label for="value">Rating (1-5):</label>
                        <input id="value" name="value" type="text">
                        <input name="bookId" value="<%= book.id %>" type="hidden">
                        <input name="userId" value="<%= currentUser.id %>" type="hidden">
                        <input type="submit" value="Change Rating">
                    </form>
                </p>
            </li>
        </div>
    <% }) %> 
</ul>